## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
## Builds
## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
.build/
.next/
production/
## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
## Modules
## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
node_modules/