## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
## Builds
## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
.build/
.next/
production/
## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
## Files
## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
.env
## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
## Folders
## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
analyze/
## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
## Modules
## ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ##
node_modules/