/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* 00 - Tailwind
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* 01 - Flag Icons ( Fix )
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
[class*="fi-"]::before {
    font-size: theme(fontSize.10);
    color: transparent;
    pointer-events: none;
}